.sheep {
    $width: 199px;
    $height: 160px;
    $duration: 4s;
    
    position: absolute;
    left: -500px;
    z-index: 500;
    width: $width;
    height: $height;
    
    .sheep-inner {
        background: image-url('sheep.png');
        width: $width;
        height: $height;
        
        &.santa {
            background: image-url('santa.png');    
        }
    }
}